<div>
    <main>
        {{#with person}}
        <div>
            <h1>{{name}} </h1>
            <hr>
            <div> Age: {{age}}</div>
            <br>
            <div> Gender: {{gender}}</div>
            <br>
            <div>
                {{#with address}}
                <address> {{street}}, {{city}}, {{state}}, {{zip}}, {{country}} </address>
                {{/with}}
            </div>
            <hr>
        </div>
        {{>title big=true data="Education"}}
        {{#each education}}
        <div>
            <p><b>University: </b> {{university}}</p>
            <p><b> Major: </b> {{major}} </p>
            <p><b> Degree: </b> {{degree}} </p>
            <p> <b> Graduation Year: </b> {{graduationYear}} </p>
        </div>
        {{/each}}
        <hr>
        {{>title data="Work Experience"}}
        {{#each workExperience}}
        <div> <strong> {{company}}, {{title}} - {{startDate}} - {{endDate}} </strong></div>

        <div>
            <ul>
                {{#each responsibilities}}
                <li> {{this}} </li>
                {{/each}}
            </ul>
        </div>
        <br>
        <div> Founded: {{year_founded}} - {{industry}} </div>
        <div> {{#each employees}}
            <div> {{name}}, {{position}}, {{department}} </div>
            <br>
            <div>
                {{#each projects}}
                <p><b> {{name}}</b> </p>
                <p> <q> {{description}} </q> </p>
                <p> {{status}} </p>
                <br>
            </div>
            <div>
                {{#each teams}}
                <p><em> {{team_name}} </em></p>
                <p> {{team_leader.name}}, {{team_leader.title}} {{>link href=team_leader.email text=team_leader.email
                    blank=true noLine=true }} </p>
                {{#each team_members}}
                <p> {{name}}, {{title}}, {{>link href=email text=email blank=true noLine=true }} </p>
                <ul>
                    {{#each skills}}
                    <li> {{this}} </li>
                    {{/each}}
                </ul>
                <hr>
                {{#each projects}}
                <div>
                    <p><b> {{name}}</b></p>
                    <p><q> {{description}}</q></p>
                    <ul>
                        {{#each technologies}}
                        <li> {{this}} </li>
                        {{/each}}
                    </ul>
                    <ul>
                        {{#each team_members}}
                        <li> {{name}}, {{title}} </li>
                        {{/each}}
                    </ul>
                </div>
                {{/each}}
                {{/each}}
                {{/each}}
            </div>
            {{/each}}
            {{/each}}
        </div>
        {{/each}}
        {{/with}}
    </main>

</div>