<main>
    <div class="row">

        {{!-- <div class="col-12">
            <div class="row">
                {{#with newsBlock}}
                <h3 class="mt-4 text-center">{{title}} </h3>
                {{#each cards}}
                <div class="col-3">
                    <div class="card text-bg-dark mx-0 my-3">
                        <div class="card-header">
                            <h6>{{title}}
                                {{#if isTop}}
                                <span class="badge text-bg-danger rounded-pill">Top</span>
                                {{/if}}
                                {{#if isNew}}
                                <span class="badge text-bg-success rounded-pill">New</span>
                                {{/if}}
                            </h6>
                        </div>
                        <p> {{description}} </p>
                    </div>
                </div>
                {{/each}}
                {{/with}}
            </div>
        </div>
        <hr> --}}

        <div class="mt-4 mb-4">
            <div class="nav nav-tabs">
                {{#with goodsBlock}}
                {{#each tabs}}
                <div class="nav-item">
                    <a class='nav-link {{#if isActive }} active {{/if}} {{#if isDisabled}} disabled {{/if}}'>
                        {{text}}
                    </a>
                </div>
                {{/each}}

                <div class="col-12 mt-4 mb-2">
                    {{>shopcard cards=cards}}
                </div>
                {{/with}}
            </div>
        </div>

        <div class="col-12 mt-5 mb-5">
            {{#with subscribe}}
            <div class="card text-bg-dark">
                <h2 m-2> {{header}} </h2>
                <p m-2> {{description}} </p>
                {{#each buttons}}
                <a class="btn btn-primary col-2 m-2" href="{{link}}"> {{text}} </a>
                {{/each}}
            </div>
            {{/with}}
        </div>
        <hr>

        {{>shopaction service=shopaction.service}}


    </div>
</main>