{{!--Це код container файлу для сторінки, в якому міститься код, котрий буде віддаватися по шляху (PATH) - "/summary"
--}}
<div>
    {{#with main}}
    <main class="pb-3">
        <section class="mb-3">
            {{>title big=true data="Work history"}}
            <div class="mb-3">
                <p>
                <ul>
                    {{#each works}}
                    <li>
                        <div class="mb-3">{{position}} </div>


                        <div>
                            {{duration.from}} -
                            {{#if duration.for}}
                            {{duration.for}}
                            {{else}}
                            (досі працюємо)
                            {{/if}}
                        </div>

                        {{#if company.url}}
                        <div>{{>link href=company.url text=company.name blank=true noLine=true}} </div>
                        {{else}}
                        <div><b>{{company.name}} </b></div>
                        {{/if}}

                        <div class="mb-3">
                            <strong> Projects {{projectAmount}}</strong>
                        </div>

                        <ul>
                            {{#each projects}}
                            <li>
                                <div class="mb-3">{{>link href=url text=name blank=true noLine=true}} </div>
                                <div class="mb-3">
                                    <p>{{about}} </p>
                                </div>

                                <div class="mb-3"> <em>Project stacks </em>({{stackAmount}})</div>
                                <ul>
                                    {{#each stacks}}
                                    <li>
                                        <div> {{name}} </div>
                                    </li>
                                    {{/each}}
                                </ul>

                                <div class="mb-3"> <em>Project awards </em>({{awardAmount}})</div>
                                <ul>
                                    {{#each awards}}
                                    <li>
                                        <div> {{name}} </div>
                                    </li>
                                    {{/each}}
                                </ul>
                            </li>
                            {{/each}}
                        </ul>
                    </li>

                    {{/each}}
                </ul>
                </p>
            </div>
        </section>

    </main>
    {{/with}}
</div>